In [139]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame
from datetime import time
import pandas_datareader.data as web
import random
import string
random.seed(0)
from numpy.random import rand
import statsmodels.api as sm

/home/parallels/anaconda2/lib/python2.7/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

# 数据规整化方面的话题

In [4]:
prices = pd.read_csv('ch09/stock_px.csv',
                       parse_dates=True,index_col=0)

In [5]:
prices.columns

Index([u'AA', u'AAPL', u'GE', u'IBM', u'JNJ', u'MSFT', u'PEP', u'SPX', u'XOM'], dtype='object')

In [6]:
prices.head()

              AA  AAPL    GE    IBM   JNJ  MSFT   PEP     SPX   XOM
1990-02-01  4.98  7.86  2.87  16.79  4.27  0.51  6.04  328.79  6.12
1990-02-02  5.04  8.00  2.87  16.89  4.37  0.51  6.09  330.92  6.24
1990-02-05  5.07  8.18  2.87  17.32  4.34  0.51  6.05  331.85  6.25
1990-02-06  5.01  8.12  2.88  17.56  4.32  0.51  6.15  329.66  6.23
1990-02-07  5.04  7.77  2.91  17.93  4.38  0.51  6.17  333.75  6.33

In [7]:
volume = pd.read_csv('ch11/volume.csv',parse_dates=True,index_col=0)

In [8]:
volume.columns

Index([u'AA', u'AAPL', u'GE', u'IBM', u'JNJ', u'MSFT', u'PEP', u'SPX', u'XOM'], dtype='object')

In [9]:
volume.head()

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM
1990-02-01,2185600.0,4193200.0,14457600.0,6903600.0,5942400.0,89193600.0,2954400.0,154580000.0,2916400.0
1990-02-02,3103200.0,4248800.0,15302400.0,6064400.0,4732800.0,71395200.0,2424000.0,164400000.0,4250000.0
1990-02-05,1792800.0,3653200.0,9134400.0,5299200.0,3950400.0,59731200.0,2225400.0,130950000.0,5880800.0
1990-02-06,2205600.0,2640000.0,14389200.0,10808000.0,3761600.0,81964800.0,3270000.0,134070000.0,4750800.0
1990-02-07,3592800.0,11180800.0,18704400.0,12057600.0,5458400.0,134150400.0,4332600.0,186710000.0,4124800.0

In [10]:
prices_new = prices[['AAPL','JNJ','SPX','XOM']]
volume_new = volume[['AAPL','JNJ','XOM']]

In [12]:
(prices_new*volume_new)[:5]

                  AAPL         JNJ  SPX         XOM
1990-02-01  32958552.0  25374048.0  NaN  17848368.0
1990-02-02  33990400.0  20682336.0  NaN  26520000.0
1990-02-05  29883176.0  17144736.0  NaN  36755000.0
1990-02-06  21436800.0  16250112.0  NaN  29597484.0
1990-02-07  86874816.0  23907792.0  NaN  26109984.0

In [18]:
vwap = (prices_new*volume_new).sum()/volume_new.sum()

In [19]:
vwap

AAPL    81.246271
JNJ     40.576111
SPX           NaN
XOM     50.520303
dtype: float64

In [20]:
vwap.dropna()

AAPL    81.246271
JNJ     40.576111
XOM     50.520303
dtype: float64

In [22]:
prices_new.align(volume_new,join='inner')

(              AAPL    JNJ    XOM
 1990-02-01    7.86   4.27   6.12
 1990-02-02    8.00   4.37   6.24
 1990-02-05    8.18   4.34   6.25
 1990-02-06    8.12   4.32   6.23
 1990-02-07    7.77   4.38   6.33
 1990-02-08    7.71   4.46   6.35
 1990-02-09    8.00   4.49   6.37
 1990-02-12    7.94   4.46   6.22
 1990-02-13    8.06   4.43   6.23
 1990-02-14    8.00   4.47   6.20
 1990-02-15    8.00   4.54   6.40
 1990-02-16    7.91   4.47   6.33
 1990-02-20    7.85   4.39   6.25
 1990-02-21    7.97   4.33   6.28
 1990-02-22    7.73   4.28   6.22
 1990-02-23    7.79   4.20   6.22
 1990-02-26    7.97   4.30   6.37
 1990-02-27    7.85   4.30   6.38
 1990-02-28    7.97   4.32   6.20
 1990-03-01    8.03   4.35   6.13
 1990-03-02    7.91   4.43   6.17
 1990-03-05    8.08   4.36   6.10
 1990-03-06    8.26   4.45   6.22
 1990-03-07    8.29   4.45   6.13
 1990-03-08    8.61   4.50   6.17
 1990-03-09    8.64   4.48   6.12
 1990-03-12    8.58   4.46   6.13
 1990-03-13    8.64   4.38   6.02
 1990-03-14    8.67   4.44   6.13
 1990-03-15    8.61   4.58   6.18
 ...            ...    ...    ...
 2011-09-02  374.05  64.07  72.14
 2011-09-06  379.74  64.64  71.15
 2011-09-07  383.93  65.43  73.65
 2011-09-08  384.14  64.95  72.82
 2011-09-09  377.48  63.64  71.01
 2011-09-12  379.94  63.59  71.84
 2011-09-13  384.62  63.61  71.65
 2011-09-14  389.30  63.73  72.64
 2011-09-15  392.96  64.40  74.01
 2011-09-16  400.50  64.59  74.55
 2011-09-19  411.63  64.14  73.70
 2011-09-20  413.45  64.22  74.01
 2011-09-21  412.14  63.13  71.97
 2011-09-22  401.82  61.92  69.24
 2011-09-23  404.30  61.59  69.31
 2011-09-26  403.17  62.69  71.72
 2011-09-27  399.26  63.82  72.91
 2011-09-28  397.01  63.25  72.07
 2011-09-29  390.57  63.90  73.88
 2011-09-30  381.32  63.69  72.63
 2011-10-03  374.60  62.08  71.15
 2011-10-04  372.50  62.17  72.83
 2011-10-05  378.25  62.35  73.95
 2011-10-06  377.37  62.81  73.89
 2011-10-07  369.80  63.13  73.56
 2011-10-10  388.81  64.43  76.28
 2011-10-11  400.29  63.96  76.27
 2011-10-12  402.19  64.33  77.16
 2011-10-13  408.43  64.23  76.37
 2011-10-14  422.00  64.72  78.11

 [5472 rows x 3 columns],                   AAPL         JNJ         XOM
 1990-02-01   4193200.0   5942400.0   2916400.0
 1990-02-02   4248800.0   4732800.0   4250000.0
 1990-02-05   3653200.0   3950400.0   5880800.0
 1990-02-06   2640000.0   3761600.0   4750800.0
 1990-02-07  11180800.0   5458400.0   4124800.0
 1990-02-08   6680000.0   8669600.0   5651200.0
 1990-02-09   6004400.0   3277600.0   3384800.0
 1990-02-12   2695600.0   2564800.0   2698000.0
 1990-02-13   3653600.0   3635200.0   3564800.0
 1990-02-14   3448000.0   3706400.0   2830000.0
 1990-02-15   3509200.0   3321600.0   4054400.0
 1990-02-16   4556400.0   5688800.0   7154400.0
 1990-02-20   4402400.0   4868800.0   4064400.0
 1990-02-21   6283600.0   5700000.0   4263200.0
 1990-02-22   6976800.0   3635200.0   5007600.0
 1990-02-23   5375600.0   8396000.0   4040000.0
 1990-02-26   2844800.0   4200000.0   4702000.0
 1990-02-27   2642000.0   4824000.0   4600800.0
 1990-02-28   3918800.0   6113600.0  10029200.0
 1990-03-01   7283200.0   3041600.0   5619200.0
 1990-03-02   3761200.0   4372800.0   5642000.0
 1990-03-05   6537600.0   4567200.0   4534400.0
 1990-03-06   5578800.0   4138400.0   5135600.0
 1990-03-07   7301200.0   3178400.0   4808000.0
 1990-03-08   8013600.0   3357600.0   3220000.0
 1990-03-09   8248800.0   3113600.0   3911200.0
 1990-03-12   5864400.0   2910400.0   2858000.0
 1990-03-13   5321200.0   3255200.0   5596800.0
 1990-03-14   3654800.0   4242400.0   5852000.0
 1990-03-15   4302000.0   8232800.0   2989200.0
 ...                ...         ...         ...
 2011-09-02  15676400.0  13713600.0  21071800.0
 2011-09-06  18173500.0  15848300.0  25416300.0
 2011-09-07  12492000.0  10759700.0  23108400.0
 2011-09-08  14839800.0  15551500.0  22434800.0
 2011-09-09  20171900.0  17008200.0  27969100.0
 2011-09-12  16697300.0  13448200.0  26205800.0
 2011-09-13  15734300.0  11595300.0  22825400.0
 2011-09-14  19084600.0  13429500.0  26042800.0
 2011-09-15  14887800.0  10625800.0  21858300.0
 2011-09-16  24915500.0  15688800.0  34652600.0
 2011-09-19  29375800.0   8571800.0  19822500.0
 2011-09-20  27689900.0  10874800.0  20420000.0
 2011-09-21  21612300.0  10041300.0  23806200.0
 2011-09-22  34562600.0  19456900.0  43223000.0
 2011-09-23  19509900.0  10983700.0  26583200.0
 2011-09-26  29015500.0  10561700.0  30342400.0
 2011-09-27  22566600.0  13118200.0  26689900.0
 2011-09-28  15344200.0   8964200.0  26026500.0
 2011-09-29  23253100.0   8923300.0  27713900.0
 2011-09-30  19558600.0  14556100.0  30917000.0
 2011-10-03  23876300.0  16891100.0  31004200.0
 2011-10-04  44035800.0  18192000.0  36454500.0
 2011-10-05  28075700.0  15405200.0  28239800.0
 2011-10-06  29008700.0   9595400.0  24869800.0
 2011-10-07  19123500.0  12361600.0  23573900.0
 2011-10-10  15769200.0   7104000.0  20455700.0
 2011-10-11  21609800.0   7628700.0  17862100.0
 2011-10-12  22206600.0   9375100.0  22239000.0
 2011-10-13  15177900.0   7781100.0  19540300.0
 2011-10-14  20450000.0   6678800.0  17870600.0

 [5472 rows x 3 columns])

In [25]:
s1 = Series(range(3), index=['a','b','c'])

In [26]:
s2 = Series(range(4), index=['d','b','c','e'])

In [27]:
s3 = Series(range(3), index=['f','a','c'])

In [28]:
DataFrame({'one':s1,'two':s2,'three':s3})

   one  three  two
a  0.0    1.0  NaN
b  1.0    NaN  1.0
c  2.0    2.0  2.0
d  NaN    NaN  0.0
e  NaN    NaN  3.0
f  NaN    0.0  NaN

In [29]:
DataFrame({'one':s1,'two':s2,'three':s3}, index=list('face'))

   one  three  two
f  NaN    0.0  NaN
a  0.0    1.0  NaN
c  2.0    2.0  2.0
e  NaN    NaN  3.0

## 频率不同的时间序列的运算

In [24]:
ts1 = Series(np.random.randn(3),
            index=pd.date_range('2012-6-13', periods=3, freq='W-WED'))

In [25]:
ts1

2012-06-13    0.574415
2012-06-20   -0.435085
2012-06-27   -1.085233
Freq: W-WED, dtype: float64

In [58]:
ts1.resample('B').mean()

2012-06-13    0.574415
2012-06-14         NaN
2012-06-15         NaN
2012-06-18         NaN
2012-06-19         NaN
2012-06-20   -0.435085
2012-06-21         NaN
2012-06-22         NaN
2012-06-25         NaN
2012-06-26         NaN
2012-06-27   -1.085233
Freq: B, dtype: float64

In [27]:
ts1.resample('B').ffill()

2012-06-13    0.574415
2012-06-14    0.574415
2012-06-15    0.574415
2012-06-18    0.574415
2012-06-19    0.574415
2012-06-20   -0.435085
2012-06-21   -0.435085
2012-06-22   -0.435085
2012-06-25   -0.435085
2012-06-26   -0.435085
2012-06-27   -1.085233
Freq: B, dtype: float64

In [28]:
dates = pd.DatetimeIndex(['2012-6-12','2012-6-17','2012-6-18',
                     '2012-6-21','2012-6-22','2012-6-29'])

In [29]:
ts2 = Series(np.random.randn(6), index=dates)

In [30]:
ts2

2012-06-12   -0.642657
2012-06-17   -1.043292
2012-06-18    0.769497
2012-06-21   -0.900048
2012-06-22   -1.189834
2012-06-29   -0.421618
dtype: float64

In [34]:
ts1.reindex(ts2.index, method='ffill')

2012-06-12         NaN
2012-06-17    0.574415
2012-06-18    0.574415
2012-06-21   -0.435085
2012-06-22   -0.435085
2012-06-29   -1.085233
dtype: float64

In [36]:
ts2 + ts1.reindex(ts2.index, method='ffill')

2012-06-12         NaN
2012-06-17   -0.468876
2012-06-18    1.343912
2012-06-21   -1.335132
2012-06-22   -1.624918
2012-06-29   -1.506851
dtype: float64

In [37]:
gdp = Series([1.78,1.94,2.08,2.01,2.15,2.31,2.46],
            index=pd.period_range('1984Q2',periods=7,freq='Q-SEP'))

In [40]:
infl = Series([0.025,0.045,0.037,0.04],
             index=pd.period_range('1982',periods=4, freq='A-DEC'))

In [41]:
infl_q = infl.asfreq('Q-SEP',how='end')

In [42]:
infl_q

1983Q1    0.025
1984Q1    0.045
1985Q1    0.037
1986Q1    0.040
Freq: Q-SEP, dtype: float64

In [43]:
infl_q.reindex(gdp.index, method='ffill')

1984Q2    0.045
1984Q3    0.045
1984Q4    0.045
1985Q1    0.037
1985Q2    0.037
1985Q3    0.037
1985Q4    0.037
Freq: Q-SEP, dtype: float64

## 时间和'最当前'数据选取

In [44]:
rng = pd.date_range('2012-06-01 09:30','2012-06-01 15:59', freq='T')

In [45]:
rng = rng.append([rng+pd.offsets.BDay(i) for i in range(1,4)])

In [46]:
ts = Series(np.arange(len(rng), dtype=float), index=rng)

In [47]:
ts

2012-06-01 09:30:00       0.0
2012-06-01 09:31:00       1.0
2012-06-01 09:32:00       2.0
2012-06-01 09:33:00       3.0
2012-06-01 09:34:00       4.0
2012-06-01 09:35:00       5.0
2012-06-01 09:36:00       6.0
2012-06-01 09:37:00       7.0
2012-06-01 09:38:00       8.0
2012-06-01 09:39:00       9.0
2012-06-01 09:40:00      10.0
2012-06-01 09:41:00      11.0
2012-06-01 09:42:00      12.0
2012-06-01 09:43:00      13.0
2012-06-01 09:44:00      14.0
2012-06-01 09:45:00      15.0
2012-06-01 09:46:00      16.0
2012-06-01 09:47:00      17.0
2012-06-01 09:48:00      18.0
2012-06-01 09:49:00      19.0
2012-06-01 09:50:00      20.0
2012-06-01 09:51:00      21.0
2012-06-01 09:52:00      22.0
2012-06-01 09:53:00      23.0
2012-06-01 09:54:00      24.0
2012-06-01 09:55:00      25.0
2012-06-01 09:56:00      26.0
2012-06-01 09:57:00      27.0
2012-06-01 09:58:00      28.0
2012-06-01 09:59:00      29.0
                        ...
2012-06-06 15:30:00    1530.0
2012-06-06 15:31:00    1531.0
2012-06-06 15:32:00    1532.0
2012-06-06 15:33:00    1533.0
2012-06-06 15:34:00    1534.0
2012-06-06 15:35:00    1535.0
2012-06-06 15:36:00    1536.0
2012-06-06 15:37:00    1537.0
2012-06-06 15:38:00    1538.0
2012-06-06 15:39:00    1539.0
2012-06-06 15:40:00    1540.0
2012-06-06 15:41:00    1541.0
2012-06-06 15:42:00    1542.0
2012-06-06 15:43:00    1543.0
2012-06-06 15:44:00    1544.0
2012-06-06 15:45:00    1545.0
2012-06-06 15:46:00    1546.0
2012-06-06 15:47:00    1547.0
2012-06-06 15:48:00    1548.0
2012-06-06 15:49:00    1549.0
2012-06-06 15:50:00    1550.0
2012-06-06 15:51:00    1551.0
2012-06-06 15:52:00    1552.0
2012-06-06 15:53:00    1553.0
2012-06-06 15:54:00    1554.0
2012-06-06 15:55:00    1555.0
2012-06-06 15:56:00    1556.0
2012-06-06 15:57:00    1557.0
2012-06-06 15:58:00    1558.0
2012-06-06 15:59:00    1559.0
Length: 1560, dtype: float64

In [49]:
ts[time(10,0)]

2012-06-01 10:00:00      30.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 10:00:00    1200.0
dtype: float64

In [50]:
ts.at_time(time(10,0))

2012-06-01 10:00:00      30.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 10:00:00    1200.0
dtype: float64

In [51]:
ts.between_time(time(10,0), time(10,1))

2012-06-01 10:00:00      30.0
2012-06-01 10:01:00      31.0
2012-06-04 10:00:00     420.0
2012-06-04 10:01:00     421.0
2012-06-05 10:00:00     810.0
2012-06-05 10:01:00     811.0
2012-06-06 10:00:00    1200.0
2012-06-06 10:01:00    1201.0
dtype: float64

In [52]:
indexer = np.sort(np.random.permutation(len(ts))[700:])

In [53]:
irr_ts = ts.copy()

In [54]:
irr_ts[indexer] = np.nan

In [55]:
irr_ts['2012-06-01 09:50':'2012-06-01 10:00']

2012-06-01 09:50:00     NaN
2012-06-01 09:51:00    21.0
2012-06-01 09:52:00     NaN
2012-06-01 09:53:00     NaN
2012-06-01 09:54:00    24.0
2012-06-01 09:55:00    25.0
2012-06-01 09:56:00     NaN
2012-06-01 09:57:00     NaN
2012-06-01 09:58:00    28.0
2012-06-01 09:59:00     NaN
2012-06-01 10:00:00     NaN
dtype: float64

In [56]:
selection = pd.date_range('2012-06-01 10:00', periods=4, freq='B')

In [57]:
irr_ts.asof(selection)

2012-06-01 10:00:00      28.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     804.0
2012-06-06 10:00:00    1199.0
Freq: B, dtype: float64

## 拼接多个数据源

In [59]:
data1 = DataFrame(np.ones((6,3), dtype=float),
                 columns=['a','b','c'],
                 index=pd.date_range('6/12/2012', periods=6))

In [60]:
data2 = DataFrame(np.ones((6,3), dtype=float)*2,
                 columns=['a','b','c'],
                 index=pd.date_range('6/13/2012',periods=6))

In [73]:
data1

              a    b    c
2012-06-12  1.0  1.0  1.0
2012-06-13  1.0  1.0  1.0
2012-06-14  1.0  1.0  1.0
2012-06-15  1.0  1.0  1.0
2012-06-16  1.0  1.0  1.0
2012-06-17  1.0  1.0  1.0

In [74]:
data2

              a    b    c    d
2012-06-13  2.0  2.0  2.0  2.0
2012-06-14  2.0  2.0  2.0  2.0
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [61]:
spliced = pd.concat([data1.loc[:'2012-06-14'], data2.loc['2012-06-15':]])

In [62]:
spliced

              a    b    c
2012-06-12  1.0  1.0  1.0
2012-06-13  1.0  1.0  1.0
2012-06-14  1.0  1.0  1.0
2012-06-15  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0

In [63]:
data2 = DataFrame(np.ones((6,4), dtype=float)*2,
                 columns=['a','b','c','d'],
                 index=pd.date_range('6/13/2012',periods=6))

In [75]:
data2

              a    b    c    d
2012-06-13  2.0  2.0  2.0  2.0
2012-06-14  2.0  2.0  2.0  2.0
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [64]:
spliced = pd.concat([data1.loc[:'2012-06-14'],data2.loc['2012-06-15':]])

In [65]:
spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  NaN
2012-06-14  1.0  1.0  1.0  NaN
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [66]:
spliced_filled = spliced.combine_first(data2)

In [67]:
spliced_filled

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [68]:
spliced.update(data2, overwrite=False)

In [69]:
spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [70]:
cp_spliced = spliced.copy()

In [71]:
cp_spliced[['a','c']] = data1[['a','c']]

In [72]:
cp_spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  1.0  2.0  1.0  2.0
2012-06-16  1.0  2.0  1.0  2.0
2012-06-17  1.0  2.0  1.0  2.0
2012-06-18  NaN  2.0  NaN  2.0

## 收益指数和累计收益

In [77]:
aapl_data = web.DataReader('AAPL', 'yahoo')

In [78]:
aapl_data.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2009-12-31  30.447144  30.478571  30.080000  30.104286  20.379293   88102700
2010-01-04  30.490000  30.642857  30.340000  30.572857  20.696495  123432400
2010-01-05  30.657143  30.798571  30.464285  30.625713  20.732277  150476200
2010-01-06  30.625713  30.747143  30.107143  30.138571  20.402506  138040000
2010-01-07  30.250000  30.285715  29.864286  30.082857  20.364788  119282800

In [86]:
price = aapl_data.loc['2011-01-01':'2012-07-27',:]['Adj Close']

In [87]:
price[-5:]

Date
2012-07-23    58.395237
2012-07-24    58.113819
2012-07-25    55.604237
2012-07-26    55.595551
2012-07-27    56.589695
Name: Adj Close, dtype: float64

In [88]:
price['2011-10-03']/price['2011-3-01'] - 1

0.07240020113025336

In [89]:
returns = price.pct_change()

In [90]:
ret_index = (1+returns).cumprod()

In [91]:
ret_index[0] = 1

In [93]:
ret_index[:5]

Date
2011-01-03    1.000000
2011-01-04    1.005219
2011-01-05    1.013441
2011-01-06    1.012622
2011-01-07    1.019874
Name: Adj Close, dtype: float64

In [95]:
m_returns = ret_index.resample('BM').last().pct_change()

In [96]:
m_returns['2012']

Date
2012-01-31    0.127111
2012-02-29    0.188311
2012-03-30    0.105283
2012-04-30   -0.025969
2012-05-31   -0.010702
2012-06-29    0.010853
2012-07-31    0.001986
Freq: BM, Name: Adj Close, dtype: float64

In [97]:
m_rets = (1+returns).resample('M', kind='period').prod() - 1

In [100]:
m_rets['2012']

Date
2012-01    0.127111
2012-02    0.188311
2012-03    0.105283
2012-04   -0.025969
2012-05   -0.010702
2012-06    0.010853
2012-07    0.001986
Freq: M, Name: Adj Close, dtype: float64

# 分组变换和分析

In [103]:
N = 1000

In [106]:
def rands(n):
    choices = string.ascii_uppercase
    return ''.join([random.choice(choices) for _ in xrange(n)])

In [107]:
tickers = np.array([rands(5) for _ in xrange(N)])

In [122]:
len(tickers)

1000

In [108]:
M = 500

In [109]:
df = DataFrame({'Momentum':np.random.randn(M)/200+0.03,
               'Value':np.random.randn(M)/200+0.08,
               'ShortInterest':np.random.randn(M)/200-0.02},
              index=tickers[:M])

In [123]:
df.shape

(500, 3)

In [124]:
df.head()

       Momentum  ShortInterest     Value
VTKGN  0.024734      -0.022289  0.079259
KUHMP  0.027594      -0.022114  0.078034
XNHTQ  0.032313      -0.019947  0.069598
GXZVX  0.027257      -0.025622  0.080753
ISXRM  0.022395      -0.028938  0.083979

In [110]:
ind_names = np.array(['FINANCIAL','TECH'])

In [111]:
sampler = np.random.randint(0, len(ind_names), N)

In [112]:
industries = Series(ind_names[sampler], index=tickers,name='industry')

In [130]:
industries[:5]

VTKGN    FINANCIAL
KUHMP    FINANCIAL
XNHTQ         TECH
GXZVX         TECH
ISXRM         TECH
Name: industry, dtype: object

In [113]:
by_industry = df.groupby(industries)

In [114]:
by_industry.mean()

           Momentum  ShortInterest     Value
industry
FINANCIAL  0.030150      -0.020061  0.079925
TECH       0.029773      -0.020035  0.079747

In [115]:
by_industry.describe()

          Momentum                                                    \
             count      mean       std       min       25%       50%
industry
FINANCIAL    266.0  0.030150  0.004792  0.017506  0.026794  0.029861
TECH         234.0  0.029773  0.005038  0.012312  0.026274  0.029635

                              ShortInterest              ...               \
                75%       max         count      mean    ...          75%
industry                                                 ...
FINANCIAL  0.033567  0.043470         266.0 -0.020061    ...    -0.017369
TECH       0.032842  0.043321         234.0 -0.020035    ...    -0.016481

                     Value                                                    \
                max  count      mean       std       min       25%       50%
industry
FINANCIAL -0.002964  266.0  0.079925  0.004568  0.067231  0.077208  0.080175
TECH      -0.003197  234.0  0.079747  0.005018  0.065941  0.076176  0.079376


                75%       max
industry
FINANCIAL  0.082850  0.092296
TECH       0.082923  0.098016

[2 rows x 24 columns]

In [116]:
def zscore(group):
    return (group-group.mean())/group.std()

In [117]:
df_stand = by_industry.apply(zscore)

In [118]:
df_stand.groupby(industries).agg(['mean','std'])

               Momentum      ShortInterest              Value
                   mean  std          mean  std          mean  std
industry
FINANCIAL -1.904074e-15  1.0  5.989361e-17  1.0 -5.670485e-15  1.0
TECH      -6.110971e-16  1.0 -1.546721e-15  1.0  3.266618e-16  1.0

In [119]:
ind_rank = by_industry.rank(ascending=False)

In [120]:
ind_rank.groupby(industries).agg(['min','max'])

          Momentum        ShortInterest        Value
               min    max           min    max   min    max
industry
FINANCIAL      1.0  266.0           1.0  266.0   1.0  266.0
TECH           1.0  234.0           1.0  234.0   1.0  234.0

In [121]:
by_industry.apply(lambda x:zscore(x.rank()))

       Momentum  ShortInterest     Value
VTKGN -1.254358      -0.526440 -0.253471
KUHMP -0.578434      -0.448449 -0.617430
XNHTQ  0.701685      -0.081248 -1.676659
GXZVX -0.613051      -1.277806  0.361922
ISXRM -1.528935      -1.602797  0.982359
CLPXZ -0.552437       0.123486 -0.643427
MWGUO -1.124373      -0.396455  0.071492
ASKVR  1.617569       1.130083  1.588025
AMWGI  0.288060       0.553962 -0.051703
WEOGZ  0.747415       0.110487  0.877401
ULCIN  0.007386      -1.469846  1.144855
YCOSO  1.573252      -1.691431 -0.997132
VOZPP -1.202364      -0.435451 -1.267356
LPKOH -0.721418      -0.565436 -0.032496
EEPRM -1.174400       0.110792 -0.746002
CTWYV  0.448449       0.565436  0.708420
XYOKS -0.617430       0.578434 -1.228361
HVWXP -0.834636       0.760775 -0.805092
YPLRZ  1.137371      -1.423339 -0.045495
XUCPM  1.228361       1.098376 -0.123486
QVGTD  0.805092      -1.292578 -1.233489
FUIVC -0.422452      -0.734417  1.358346
DSBOX  1.033383      -0.890399  1.683309
NRAQP  1.605318      -1.410340 -0.539439
OKJZA  0.890399       0.253471  1.371345
AYEDF -0.968390       1.241359  0.838405
UYALC -0.513442       1.306352  1.306352
GFQJE -0.627824      -0.642596 -0.140337
NBCZF -1.683309       0.721418 -1.709306
JTVXE  1.085377       1.059380 -0.864402
...         ...            ...       ...
XLKXN -1.395984       1.469846 -0.406239
TEBLI -0.981389       0.851404 -1.280355
NIWTJ -0.357460      -0.682423 -0.500443
DSODA  0.997132       1.661886 -1.602797
QNOKM -0.136485       1.267356  0.669424
KCNDR  0.058493      -0.019498 -1.423339
TEFGP  1.543708      -0.465328  1.366440
KXONF -0.672141      -1.085766  0.036931
CYCDF -1.111374      -0.422452  0.110487
OQLKQ  0.500443      -1.670311  0.149483
GUQPA -1.514329       1.033383 -1.397342
ITFQZ -1.588025       1.484618  0.302833
LNFAG  1.488331       0.383457  0.682423
MPVHI  0.022158      -0.701685 -1.455074
SRSWC -1.558480      -1.174400  1.307350
DMPRF -0.273288       1.056221  1.322123
DXGAH -1.709306       1.046382  1.137371
NQTDN -0.955392      -1.540326  1.696308
ISJVE -1.033383      -0.383457 -0.084490
ZNLSJ  1.248261       0.790319  0.568734
ALHRN  0.370458      -0.760414  1.540326
VMEDO -0.568734      -0.228971 -0.819864
GFYDX  0.591433      -1.657312 -0.851404
NYVHM -1.046382       0.305465  0.851404
CJYCG -1.228361       1.553324 -1.462334
BWRPM -0.305465      -1.124373  1.618317
GPSUE -0.877401      -1.033383  1.072379
QRPSN  0.851404       1.397342 -0.292467
YQQAD  1.203944      -1.366440 -0.421011
PTDQE  1.514329       0.708420 -0.630429

[500 rows x 3 columns]

## 分组因子暴露

In [153]:
fac1,fac2,fac3 = np.random.rand(3,1000)

In [154]:
ticker_subset = tickers.take(np.random.permutation(N)[:1000])

In [155]:
#因子加权和以及噪声
port = Series(0.7*fac1-1.2*fac2+0.3*fac3+rand(1000),
             index=ticker_subset)

In [156]:
factors = DataFrame({'f1':fac1,'f2':fac2,'f3':fac3},
                   index=ticker_subset)

In [157]:
factors.corrwith(port)

f1    0.392514
f2   -0.689233
f3    0.172086
dtype: float64

In [158]:
ols_model = sm.OLS(port, factors)

In [159]:
result = ols_model.fit()

In [160]:
print result.params

f1    1.020930
f2   -0.960573
f3    0.644833
dtype: float64

In [162]:
def beta_exposure(chunk, factors=None):
    ols_model = sm.OLS(chunk, factors)
    return ols_model.fit().params

In [163]:
by_ind = port.groupby(industries)

## 十分位和四分位分析

In [171]:
data = web.DataReader('SPY', 'yahoo')

In [173]:
data = data.loc['2006-01-01':]

In [174]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2009-12-31,112.769997,112.800003,111.389999,111.440002,94.734451,90637900
2010-01-04,112.370003,113.389999,111.510002,113.330002,96.341141,118944600
2010-01-05,113.260002,113.680000,112.849998,113.629997,96.596169,111579900
2010-01-06,113.519997,113.989998,113.430000,113.709999,96.664169,116074400
2010-01-07,113.500000,114.330002,113.180000,114.190002,97.072220,131091100

In [175]:
px = data['Adj Close']

In [176]:
returns = px.pct_change()

In [177]:
def to_index(rets):
    index = (1+rets).cumprod()
    first_loc = max(index.notnull().argmax()-1,0)
    index.values[first_loc] = 1
    return index

In [178]:
def trend_signal(rets, lookback, lag):
    signal = rets.rolling(lookback, min_periods=lookback-5).sum()
    return signal.shift(lag)

In [179]:
signal = trend_signal(returns, 100, 3)

In [180]:
trade_friday = signal.resample('W-FRI').resample('B').ffill()

/home/parallels/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
.resample() is now a deferred operation
You called resample(...) on this deferred object which materialized it into a series
by implicitly taking the mean.  Use .resample(...).mean() instead
  """Entry point for launching an IPython kernel.

In [181]:
trade_rets = trade_friday.shift(1)*returns

In [182]:
to_index(trade_rets).plot()

ValueError: Cannot add integral value to Timestamp without freq.